body{
      background-color:hsl(220, 15%, 55%);
      text-align: center;
    
}

.container 
{
font-family: Outfit;
background: white;
margin-top: 10%;
margin-left: 40%;
padding: 15px;
border-radius: 10px;
max-width:220px; 
box-shadow: 20px;
}
.container h2
{
      font-size: 20px;
}

#img
{
width: 220px;
height: 220px;
border-radius: 10px;

}